<header class="bg-[#23232a] shadow-xl w-full sticky top-0 z-50">
    <nav class="container mx-auto px-6 py-6">
        <div class="flex justify-center items-center">
            <!-- Navigation -->
            <div class="flex flex-wrap items-center justify-center gap-4">
                <a href="/employes" class="text-xl text-[#d6bfa7] hover:text-[#bfa888] transition-colors font-medium px-6 py-3 m-4">
                    Employés
                </a>
                
                <a href="/ordinateurs" class="text-xl text-[#d6bfa7] hover:text-[#bfa888] transition-colors font-medium px-6 py-3 m-4">
                    Ordinateurs
                </a>
                <a href="/login" class="text-xl text-[#d6bfa7] hover:text-[#bfa888] transition-colors font-medium px-6 py-3 m-4">
                    Connexion
                </a>
                <a href="/register" class="text-xl text-[#d6bfa7] hover:text-[#bfa888] transition-colors font-medium px-6 py-3 m-4">
                    Inscription
                </a>
                <a href="/deconnexion" class="text-xl text-red-400 hover:text-red-300 transition-colors font-medium px-6 py-3 m-4">
                    Déconnexion
                </a>
            </div>
        </div>
    </nav>
</header>
