<!DOCTYPE html>
<html lang="fr" class="h-full">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/assets/css/tailwind.css" rel="stylesheet"> {% block title %}{% endblock %}
		<link rel="stylesheet" href="/assets/css/style.css">

	</head>
	<body class="min-h-screen bg-gradient-to-tr from-[#292928] via-[#2d2d2d] to-[#d6bfa7] text-[#8B6B4A] flex flex-col antialiased">
		{% include "../partials/header.twig" %}
		<main class="flex-1"> {% block main %}{% endblock %}
			</main>

			{% include "../partials/footer.twig" %}
		</body>
	</html>
